.video-component-overall-card {
    font-family: 'Roboto Mono', monospace;
}
.video-player-container {
    width: calc(90vw/4);
    height: calc(100vh/4);
    position: relative;
    margin: .2rem 1.1rem;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

// video::-webkit-media-controls {
//     display: none !important;
// }

// video::-webkit-media-controls-enclosure {
//     display: none !important;
// }

// video::-webkit-media-controls-fullscreen-button {
//     display: block !important;
// }